# Ignore everything by default.
*

# Allowlisted deployment networks.
!/deployments/bsc/**
!/deployments/kovan/**

# Contract abstract classes and interfaces.
!/contracts/abstract/**
!/contracts/interfaces/**
